---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>這個人很懶，什麼也沒留下。</p>
</div>

<!-- 簡介欄置中 -->
<style>
  div {
    text-align: center;
  }
</style>
