---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>ewd，或 eswd。</p>
  <p>一些與聲音與創作相關的雜七雜八，一些靈感，一些生活。</p>
  <blockquote>
    Special thanks：<a href="https://github.com/bartoszlenar/astro-milidev"
      >Astro Milidev</a
    > by @bartoszlenar
  </blockquote>
</div>
